<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.pavdog.unifi-wandashboard</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/pavdog/Programming-pavdog/unifi/scripts/unifi_wan_dashboard.py</string>
    </array>
    <key>UserName</key><string>pavdog</string>
    <key>GroupName</key><string>staff</string>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
    <key>ThrottleInterval</key><integer>30</integer>
    <key>WorkingDirectory</key><string>/Users/pavdog/Programming-pavdog/unifi</string>
    <key>StandardOutPath</key><string>/Users/pavdog/Programming-pavdog/unifi/data/wan_dashboard.log</string>
    <key>StandardErrorPath</key><string>/Users/pavdog/Programming-pavdog/unifi/data/wan_dashboard.err</string>
</dict>
</plist>
